.ipynb_checkpoints
*.pyc
*venv*
containerexec_link

**/.jupyter_config
**/.virtual_documents

content/*fits
content/*npy
content/*tar
content/*gz
content/*ecsv
content/*vot
content/*json
content/*.png
**/mastDownload
**/MAST*

content/testout
content/widened*
content/data
content/ephem*

extramounts
